body {
    margin:0;
    
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Name{
    font-family: sacramento;
    font-size: 75px;
    margin-top:0;
    margin-bottom:0px;
    color:#45b29a;
}
.Name-desc{
    font-size: 1.3rem;
    color:#45b29a;
    margin-top: 15px;
}

.bottom-cloud{
    position:absolute;
    left:450px;
}

.top-cloud{
    position: absolute;
    left:900px;
    top:50px;
}

.profile-img, .Skills, .Hobbies{
    width:10%;
    height:10%;
}

.profile, .skills, .skill-row{
    padding: 30px 0 50px 0;
}

.top-container{
    background-color: #e0ebe8;
    padding-top:150px;
}

h2, h3{
    color:#45b29a;
    font-weight: normal;
}
h1{
    line-height: 2;
}

a{
    color:#45b29a;
}

